<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
      <!-- Top navbar -->
      <% include ../partials/navbar %>
      <!-- Header -->
      <% include ../partials/header %>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Companies</h3>
                <div class="col text-right">
                    <a href="#" class="btn btn-sm btn-primary">New company</a>
                  </div>
              </div>
              
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Company name</th>
                        <th scope="col">Number of clients</th>
                        <th scope="col">Number of meters</th>
                        <th scope="col">Country</th>
                        <th scope="col">Cosumption rate</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          Regideso
                        </th>
                        <td>
                          4,569
                        </td>
                        <td>
                          340
                        </td>
                        <td>
                          <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">Show records</a>
                            <a class="dropdown-item" href="#">Remove</a>
                            <a class="dropdown-item" href="#">Edit infos</a>
                            <a class="dropdown-item" href="#">Show more details</a>
                              </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          DEgideso
                        </th>
                        <td>
                          3,985
                        </td>
                        <td>
                          319
                        </td>
                        <td>
                          <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">Show records</a>
                            <a class="dropdown-item" href="#">Remove</a>
                            <a class="dropdown-item" href="#">Edit infos</a>
                            <a class="dropdown-item" href="#">Show more details</a>
                              </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          Digiedso
                        </th>
                        <td>
                          3,513
                        </td>
                        <td>
                          294
                        </td>
                        <td>
                          <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">Show records</a>
                            <a class="dropdown-item" href="#">Remove</a>
                            <a class="dropdown-item" href="#">Edit infos</a>
                            <a class="dropdown-item" href="#">Show more details</a>
                              </div>
                            </div>
                          </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          dieososf
                        </th>
                        <td>
                          2,050
                        </td>
                        <td>
                          147
                        </td>
                        <td>
                          <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">Show records</a>
                            <a class="dropdown-item" href="#">Remove</a>
                            <a class="dropdown-item" href="#">Edit infos</a>
                            <a class="dropdown-item" href="#">Show more details</a>
                              </div>
                            </div>
                          </td>
                      </tr>
                    </tbody>
                  </table>

              </div>
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
  
    <!-- Include scripts -->
    <% include ../partials/scripts %>
  </body>
  